<ApplicationSettings><MultiPointSettings><IPAddress>127.0.0.1</IPAddress><Port>12345</Port><Width>1024</Width><Height>768</Height><MaxPoints>5</MaxPoints></MultiPointSettings><SkeletonSettings><IPAddress>127.0.0.1</IPAddress><Port>12345</Port><IsHandMode>false</IsHandMode><SkeletonClips><SkeletonClip><Name>Sample0</Name><PathToSkeletonFile>MotionMagixSimulator\sample.xml</PathToSkeletonFile></SkeletonClip><SkeletonClip><Name>sample1</Name><PathToSkeletonFile>MotionMagixSimulator\sample1.xml</PathToSkeletonFile></SkeletonClip></SkeletonClips></SkeletonSettings><SilhouetteSettings><IPAddress>127.0.0.1</IPAddress><Port>12345</Port><Width>0</Width><Height>0</Height></SilhouetteSettings></ApplicationSettings>